body{
	background-color:#f5f5f5;
}
.header{
	text-align: center;
	width:100vw;
	height:60px;
	background-color:#011e29;	
	padding:5px;
}
.hed{
	color: white;
	text-align: center;
	padding:13px;
	margin:5px;
}
.con{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	gap:5px;
	margin:5px;
}
.latest-news-section{
	height:200px;
	width:250px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: center;
	border-radius:15px;
	
}
.main-article{
	height:200px;
	width:350px;
	background-color:white;
	padding:20px;
	border-radius:15px;
}
.pictorial-news-section{
	gap:5px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:white;
	padding:20px;
	border-radius:15px;
	text-align:center;
}
h3,p{
	text-align:center;
}

